@model IEnumerable<projetoWebPedal.Models.RoteiroUsuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Adesão a Roteiro</h1>

<p>
    <a asp-action="Create">Escolha um Roteiro Aqui</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Roteiro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <!--
            <th>
            @Html.DisplayNameFor(model => model.Peso)
            </th>
            -->
            <th></th>
        </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Roteiro.Local)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nome)
                </td>
                <!--
                <td>
                    @Html.DisplayFor(modelItem => item.Peso)
                </td>
                -->
            <td>
                <!--
        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
         -->
            </td>
        </tr>
}
    </tbody>
</table>
